#include	"resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 200, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SDRplay gain control"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&lnaState:",IDC_STATIC,7,9,30,8
    EDITTEXT        IDC_LNA_STATE,37,7,40,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_MONTH_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,63,15,11,14
    LTEXT           "&GRdB:",IDC_STATIC,84,9,30,8
    EDITTEXT        IDC_GRdB,114,7,40,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_DAY_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,140,16,11,14
    DEFPUSHBUTTON   "RESET",IDC_RESET,127,32,50,14
    CHECKBOX	    "AGC", IDC_AGC, 180, 10, 10, 10
END
